/*/////////////////////////////////////////
	CSS stylesheet for index.html
//////////////////////////////////////////*/

/*	Importing font: eurof55		*/
@font-face {
	font-family: eurof55;
	src: url('fonts/eurof55.ttf') format('truetype');
}
/*	Importing font: Powerweld	*/
@font-face {
	font-family: Powerweld;
	src: url('fonts/Powerweld.ttf') format('truetype');
}

/* 	Common styling 			*/
header,
h1,
section,
#canvas,
.canvas-button,
footer,
.overlay,
.popup,
#footer_content,
.popup .content .close,
.popup .content .close #closeInfo,
.popup .content .imgnav,
.popup .content .imgnav img {
	position: absolute;
}

header,
nav,
section,
footer,
.overlay,
.popup .content .imgnav img {
	left: 0;
	right: 0;
}

#footer_content,
.popup {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

/* 	Beginning of individual styling 	*/
html {
	height:100%;
	overflow: hidden;
}

body {
	min-width: 240px;
	min-height: 100%;
	position: relative;
	margin: 0;
	background-color: #111;
}

header {
	top: 0;
	height: 20%;
	background-color: #1a8;
	color: #fff;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 30%;
	z-index: 30;
}

h1{
	margin: 0;
	top: 50%;
	left: 50%;
	font-family: Powerweld;
	font-size: 3.1vh;
	font-weight: 300;
	letter-spacing: 3px;
	background-color: #1b9;
	padding: 1% 3% 1% 3%;
	border-radius: 10px 1px 10px 1px;
	text-shadow: -1px 0 #000, 0 2px #000, 2px 0 #333, 0 -2px #222;
	box-shadow: 8px 5px 20px 8px #333;
	-webkit-transform: translate(-50%,-50%) rotate(-5deg);
	    -ms-transform: translate(-50%,-50%) rotate(-5deg);
	        transform: translate(-50%,-50%) rotate(-5deg);
}

section {
	top: 10%;
	bottom: 0%;
}

#canvas {
	height: 100%;
	width: 100%;
	z-index: 1;
}

.canvas-button img {
	width: 35px;
	height: 35px;
}

.canvas-button {
	display: inline-block;
	padding: 2px;
	right: 5%;
	
	background-color: #ddd;
	outline: none;
	border: none;
	border-radius: 3px;
}

#toggle_button {
	top: 15%;
}

footer {
	display: block;
	bottom: 0;
	height: 6%;
	z-index: 3;
	opacity: 0.8;
		
	background-color: #1a8;
}

#footer_content {
	color: #eef;
	font-family: sans-serif;
	font-size: 2.2vmin;
	text-shadow: 0.1em 0.1em #222;
}

/* 	Styling for the pop-up modal 	*/

.overlay {
	top: 0;
	bottom: 0;
	background: transparent;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
		transform: scale(0);
	-webkit-transition: transform 0.5s, opacity 0.5s;
	    -ms-transition: transform 0.5s, opacity 0.5s;
		transition: transform 0.5s, opacity 0.5s;
	visibility: hidden;
	opacity: 0;
}

.popup {
	display: inline-block;
	padding: 1%;
	max-width: 90%;
	max-height: 90%;
	background-color: #eee;
	border-radius: 5px;
	-webkit-transition: all 5s ease-in-out;
	    -ms-transition: all 5s ease-in-out;
		transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 1%;
	color: #444;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1.3vmax;
}

.popup .content .close {
	top: 0.5%;
	right: 1%;
	opacity: 0.5;
	-webkit-transition: all 0.5s;
	    -ms-transition: all 0.5s;
		transition: all 0.5s;
}

.popup .content .close:hover {
	opacity: 1;
	cursor: pointer;
}

.popup .content .close #closeInfo {
	padding: 20%;
	bottom: 0%;
	right: 100%;
	visibility: hidden;
	color: #fff;
	font-size: 90%;
	background-color: #333;
	border-radius: 10px;
}

.popup .content {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}

.popup .content #image_box {
	display: inline-block;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
		transform: translateX(-50%);
}

.popup .content #image_box #image {
	float: left;
}

.popup .content .imgnav {
	background-color: #ccc;
	height: 100%;
	width: 10%;
	top: 0;
	bottom: 0;
	opacity: 0.3;
	-webkit-transition: opacity 0.3s;
	    -ms-transition: opacity 0.3s;
		transition: opacity 0.3s;
}

.popup .content .imgnav img {
	width: 100%;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	    -ms-transform: translate(0,-50%);
		transform: translate(0,-50%);
}

.popup .content #prev {
	left: 0;
}

.popup .content #next {
	right: 0;
}

.popup .content .button-section {
	width: 100%;
	display: inline-block;
}

.popup .content .button-section input[type="button"] {
	float: right;
	margin-left: 1%;
}

.popup input[type="file"] {
	color: transparent;
	max-width: 105px;
}

/*	Share button for desktop	*/
#share_desktop {
	position: fixed;
	left: -11%;
	bottom: 0;
	height: 30%;
	width: 18%;
	z-index: 1070;
}

.share-panel {
	position: relative;
	top: 8%;
	left: -20%;
	margin: 3% 0 3% 0;
	height: 18%;
	width: 100%;
	border-radius: 10px;
	background-color: #ddd;
	-webkit-transition-duration: 0.3s;
	    -ms-transition-duration: 0.3s;
		transition-duration: 0.3s;
}

.share-panel img {
	-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	position: absolute;
	right: 3%;
	top: 50%;
	height: 70%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
		transform: translateY(-50%);
}

.share-panel:hover {
	left: 0;
	cursor: pointer;
	background-color: #fff;
}

.share-panel:hover img {
	-webkit-filter: none;
	filter: none;
}

/*	Device specific styling			*/

/*	For devices that do not support touch events	*/
.no-touchevents #help {
	position: absolute;
	top: calc(15% + 50px);
}

.no-touchevents #legend {
	position: absolute;
	top: 100%;
	right: 0;
	padding: 10%;
	width: 400%;
	background-color: #ddd;
	border-radius: 15px 0 15px 15px;
	color: #231;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s;
	    -ms-transition: opacity 0.5s;
		transition: opacity 0.5s;
}

.no-touchevents #help:hover {
	border-radius: 3px 3px 0 0;
}

.no-touchevents #help:hover #legend {
	visibility: visible;
	opacity: 1;
}

.no-touchevents #toggle_button:hover {
	cursor: pointer;
}

.no-touchevents .canvas-button {
	opacity: 0.5;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.no-touchevents .canvas-button:hover {
	opacity: 1;
	-webkit-transition-duration: 0.4s;
	    -ms-transition-duration: 0.4s;
		transition-duration: 0.4s;
	-webkit-filter: none;
		filter: none;
}

.no-touchevents .popup .content .close:hover #closeInfo {
	visibility: visible;
}

.no-touchevents .popup .content .imgnav:hover {
	opacity: 0.8;
	cursor: pointer;
}

/*	For devices that support touch events	*/
.touchevents #help {
	display: none;
}

.touchevents #share_desktop {
	display: none;
}

/*/////////////////////////////////////////////////
		End of stylesheet
/////////////////////////////////////////////////*/
