/*
	CSS stylesheet for index.html and any subsequent pages, if any.
*/
@font-face {
	font-family: eurof55;
	src: url('fonts/eurof55.ttf') format('truetype');
}

@font-face {
	font-family: Powerweld;
	src: url('fonts/Powerweld.ttf') format('truetype');
}

html {
	height:100%;
}

body {
	min-width: 240px;
	min-height: 100%;
	position: relative;
	margin: 0;
	
	background-color: #135;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 10%;
	min-width: 200px;
	
	background-color: #123;
	color: #eee;	
}

h1{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin: 0;
	
	font-family: Powerweld;
	font-size: 3vh;
}

nav {
/*	background-color: #146;
	height: 5vmin;
	width: 100%;
	color: #bbb;
*/
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	min-height: 4%;
}

.step-button {
/*	float: left;
	min-width: 30%;
	width: 32.5%;
	height: 5vmin;
	margin-left: auto;
	margin-right: auto;
	display: none;
	border: 0px;
	border-radius: 1px 1px 8px 8px;
	text-align: center;
	position: static;
*/
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;

	
	background-color: #146;
	color: #ddd;
	font-family: eurof55;
	font-size: 2.5vmin;
}

section {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 4%;

	background-color: #300;
}

#canvas {
/*	background-color: #900;
	left: auto;
	right: auto;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
*/
	position: absolute;
	background-color: #0d0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#help {
	position: absolute;
	top: 3%;
	left: 3%;
	padding: 4px;
	
	background-color: #222;
	color: #0e0;
}

#legend {
	font-size: 90%;
	display: none;
}

#help:hover {
	cursor: help;
}

#help:hover #legend {
	display: inline-block;
	background-color: #222;
	border: 0px solid #000;
	border-radius: 15px;
	border-top-left-radius: 0px;
	padding: 10%;
	position: absolute;
	top: 100%;
	left: 0%;
	color: #0e0;
	cursor: help;
}

.toggleButton {
	border: none;
	outline: none;
	display: inline-block;
	position: absolute;
	padding: 0px;
	top: 3%;
	right: 4%;
	opacity: 0.5;
}

.toggleButton:hover {
	opacity: 1;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

footer {
/*
	display:none;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4%;
	padding: 1px;
	background-color: #146;
	position: absolute;
	z-index: 3;
*/
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4%;
	z-index: 3;
	
	background-color: #146;
}

#footer-content {
	color: #bbb;
	position: absolute;
	font-size: 2.2vmin;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/* styling for the pop-up*/

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	visibility: hidden;
	opacity: 0;
}
 
.overlay:target {
	-webkit-transform: scale(1);
	transform: scale(1);
	visibility: visible;
	opacity: 1;
}

.popup {
	padding: 1%;
	background: #eee;
	border-radius: 5px;
	display: inline-block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: absolute;
	-webkit-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
}

.popup h2 {
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
	margin-top: 1%;
	font-size: 1.3vmax;
}

.popup .content .close {
	position: absolute;
	top: 0.5%;
	right: 1%;
	opacity: 0.5;
	transition: opacity 0.5s;
}

.popup .content .close:hover {
	opacity: 1;
	cursor: pointer;
}

.popup .content .close #closeInfo {
	position: absolute;
	padding: 40%;
	top: 100%;
	right: 0%;
	color: #fff;
	font-size: 90%;
	background-color: #333;
	border-radius: 10px;
	visibility: hidden;
}

.popup .content .close:hover #closeInfo {
	visibility: visible;
}

.popup .content {
	display: inline-block;
	position: relative;
}

.popup .content #imageBox {
	display: inline-block;
	position: relative;
}

.popup .content #imageBox #image {
	float: left;
/*	max-width: 600px;
	max-height: 600px;
*/
}

.popup .content .imgnav {
	position: absolute;
	background-color: #ccc;
	height: 100%;
	width: 10%;
	top: 0;
	bottom: 0;
	opacity: 0.3;
	transition: opacity 0.3s;
}

.popup .content .imgnav:hover {
	opacity: 0.8;
	cursor: pointer;
}

.popup .content .imgnav img {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translate(0,-50%);
	left: 0;
	right: 0;
}

.popup .content #prev {
	left: 0%;
}

.popup .content #next {
	right: 0%;
}

.popup .content .buttonSection {
	padding: 2%;
	margin-left: 3%;
	display: inline-block;
}

.popup input[type="file"] {
	color: transparent;
	width: 115px;
}

@media only screen and (min-width: 800px) {
	.step-button {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: 0;
		width: 33.33%;
	}
	
	.step-button:hover {
		background-color: #147;
		cursor: default;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
	}
		
	.step-button:nth-child(2) {
		transform: translate(100%,0%);
	}

	.step-button:nth-child(3) {
		transform: translate(200%,0%);
	}
	
	section {
		top: 14%;
	}
}

@media only screen and (max-width: 800px) {
	.step-button {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
	}
	
	.step-button:nth-child(odd) {
		background-color: #158;
	}
	
	.step-button:nth-child(2) {
		transform: translate(0%,100%);
	}

	.step-button:nth-child(3) {
		transform: translate(0%,200%);
	}
			
	section {
		top: 22%;
	}
}
